$blue:#498CCE;
$green:#27AE60;
$success:#1BC459;
$red:#FD5959;
$yellow:#FF9D00;
$red_opaque:#FFEAEA;
$green_opaque:#E7FFED;
$blue_opaque: #D6F2FE;
$bg_gray:#F3F7FC;
$gray:#c4c4c4;
$light_gray:#F3F4F8;
$darkgray : #9496A1;
$purple : #9E31E1;
$primary: #0F248F;
