.box {
  width: 100%;
}

.box .steps {
  width: 90%;
  margin: 0 auto;
  box-shadow: "0px 0px 10px rgba(0, 0, 0, 0.1)",
  ;
}

.box .steps ul {
  max-height: 40px;
  overflow: hidden;
  border-radius: 30px;
  border: 1px solid #f5f5f5;
}

.box .steps ul li {
  width: 155px;
}

.box .steps ul li div {
  color: #999;
  padding: 5px 0 15px 30px;
  position: relative;
  background: #add0f2;
  width: 100%;
  text-align: center;
}

.box .steps ul li div span {
  font-size: 11px;
}

.box .steps ul li:first-child div {
  width: 100%;
}

.box .steps ul li div::before {
  content: " ";
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 30px solid #fff;
  position: absolute;
  top: 0%;
  margin-top: -5px;
  left: 100%;
  z-index: 1;
  margin-left: 7px;
}

.box .steps ul li div::after {
  content: " ";
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 30px solid #add0f2;
  position: absolute;
  top: 0%;
  margin-top: -5px;
  left: 100%;
  z-index: 2;
  margin-right: 2px;
}

.box .steps ul li.done div {
  border-color: #53a653 !important;
  color: #fff !important;
  background: #53a653 !important;
}

.box .steps ul li.done div::after {
  border-left: 30px solid #53a653;
}

.box .steps ul li.active div {
  border-color: #1976d2 !important;
  color: #fff !important;
  background: #1976d2 !important;
}

.box .steps ul li.active div::after {
  border-left: 30px solid #1976d2;
}

.box .step-component {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;

}

.box .btn-component {
  padding: 20px 0px;
  display: flex;
  gap: 10px;
  justify-content: left;
  max-width: 90%;
}

.form-container {
  margin: 0px auto;
}